<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Out" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8"
				pattern="%-5level: %logger{1}.%M() - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.mycompany.javajavajo" level="info"
			additivity="false">
			<AppenderRef ref="Out" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Out" />
		</Root>
	</Loggers>
</Configuration>